/task1a/handout/data
/task1a/handout/images
/task1a/handout/*.exe
/task1a/handout/*.mp4
/task1a/handout/wave_1d
/task2/data
/task2/images
/task2/*.mp4
/task2/sequential
/task2/parallel
/task2/compare
/task2/data_sequential
